html {
	height: 100%;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	background: #0C0D10;
	font-family: Signika;
	min-height: 100%;
}

::-moz-selection {
	color: #fff;
	background: #FF0034;
}

::selection {
	color: #fff;
	background: #FF0034;
}

.fvh {
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content {
	flex-grow: 1;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 10%;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-right: auto;
	color: #fff;
	font-size: 1.4rem;
	font-weight: bold;
}

.menu ul {
	display: flex;
	font-size: 1.1rem;
	list-style: none;
	overflow: hidden;
}

.menu ul li {
	padding: 0 10px;
	cursor: pointer;
	margin: 0 50px;
}

.menu ul li a {
	text-decoration: none;
	color: #fff;
	position: absolute;
	line-height: 0%;
	z-index: 1;
}

.menu ul li a::before {
	position: absolute;
	z-index: -1;
	content: '';
	background: #FF0034;
	width: 0%;
	height: 5px;
	border-radius: 50px;
	top: 5px;
	transition: 0.2s;
}

.menu ul li a:hover::before {
	width: 100%;
}

.menu .icon {
	display: none;
}

.swiper-container {
	margin: auto;
	height: 75vh;
	width: 80%;
	display: flex;
	flex-wrap: nowrap;
}

.swiper-slide {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.swiper-slide img {
	width: 100%;
	height: auto;
}

.swiper-container .swiper-slide {
	height: 100%;
	width: 20vw;
	display: flex;
	cursor: pointer;
	transition: 0.3s;
	opacity: 1;
}

.swiper-wrapper:hover .swiper-slide:not(:hover) {
	opacity: 0.5;
}

.description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 270px;
	box-sizing: border-box;
	padding: 130px 30px 40px 30px;
	transition: 0.3s;
	transform: translateY(20px);
	color: #fff;
	opacity: 0;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
}

.description .details {
	font-size: 0.8rem;
	font-weight: lighter;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-transform: uppercase;
	border-top: 1px solid #fff;
}

.description h2 {
	font-size: 1.4rem;
	display: flex;
	justify-content: flex-start;
}

.swiper-slide:hover .description {
	opacity: 1;
	transform: translate(0, 0);
}

.project-content {
	margin: auto;
	width: 80%;
}

.work {
	padding: 0;
	width: 67%;
	float: left;
	margin-bottom: 40px;
}

.work li {
	padding: 10px 0;
	list-style: none;
}

.work li img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.project-description {
	color: #fff;
	padding-top: 40px;
	width: 23%;
	position: fixed;
	right: 10%;
}

.project-description h1 {
	font-size: 2rem;
	margin: 0 0 20px 0;
	z-index: 2;
	position: absolute;
	display: block;
}

.project-description h1::before {
	position: absolute;
	z-index: -1;
	content: '';
	background: #FF0034;
	width: 100%;
	height: 8px;
	border-radius: 50px;
	top: 70%;
	left: 0;
}

.info {
	list-style: none;
	padding: 0;
}

.strong {
	font-weight: bold !important;
	font-size: 1rem !important;
}

.info li {
	color: #fff;
	font-weight: lighter;
	line-height: 1.6;
	font-size: 0.9rem;
}

.category-date {
	font-size: 0.8rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
	border-top: 1px solid #555658;
	color: #555658;
	font-weight: lighter;
}

.details {
	padding-top: 14px;
}

.details p {
	margin: 0;
	font-size: 0.7rem;
}

.details br {
	display: block;
	margin: 0;
}

.tools img {
	margin-right: 20px;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
}

.project-description a {
	text-decoration: none;
}

.button {
	padding: 10px 30px;
	margin: 30px 0;
	border: 1px solid #555658;
	text-align: center;
	color: #555658;
	font-weight: lighter;
	font-size: 0.8rem;
	transition: 0.2s;
}

.button:hover {
	border: 1px solid #fff;
	color: #fff;
}

span {
	color: #fff;
	padding: 150px;
}

.bg {
	background: url("../img/image-2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: auto;
}

.banner {
	height: 75vh;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.about {
	margin: auto 0 auto 20%;
}

.contact {
	margin: auto;
}

.banner h1 {
	font-size: 4.5rem;
	position: absolute;
	margin: 0;
	z-index: 2;
}

.banner h2 {
	font-size: 3rem;
	position: absolute;
	margin: 0;
	z-index: 2;
}

.banner h1::before {
	position: absolute;
	z-index: -1;
	content: '';
	background: #FF0034;
	width: 100%;
	height: 14px;
	border-radius: 50px;
	top: 70%;
}

.banner h2::before {
	position: absolute;
	z-index: -1;
	content: '';
	background: #FF0034;
	width: 100%;
	height: 12px;
	border-radius: 50px;
	top: 70%;
}

.contact-info {
	border-top: 1px solid #555658;
}

.contact-way p:first-of-type {
	color: #555658;
	font-size: 0.8rem;
	font-weight: lighter;
	margin-bottom: 0;
}

.phone, .mail {
	font-size: 1.4rem;
	margin-top: 0;
}

.mail, .hypertext {
	text-decoration: none;
	display: inline-block;
}

.mail::after {
	content: '';
	width: 0px;
	height: 3px;
	display: block;
	background: #FF0034;
	transition: 0.2s;
	margin-top: -4px;
	border-radius: 50px;
}

.mail:hover::after {
  width: 100%;
}

.hypertext {
	color: #fff;
}

.hypertext::after {
	content: '';
	height: 1px;
	display: block;
	background: #fff;
	margin-top: -2px;
	border-radius: 50px;
	transition: 0.2s;
}

.hypertext:hover::after {
	background: #FF0034;
}

.button-cv {
	background: #FF0034;
	padding: 16px 50px;
	width: 160px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 22px 10px 15px rgba(0,0,0,0.5);
	transition: 0.2s;
}

.button-cv:hover {
	background: #A80022;
}

.button-cv img {
	height: 18px;
	width: auto;
	margin-right: 10px;
}

.button-cv p {
	margin: 0;
}

.main-columns {
	width: 100%;
	height: 600px;
	background: #17181B;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.bass-columns {
	width: 100%;
	height: 900px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.bass-pic img {
	height: auto;
	width: 100%;
}

.column {
	width: 30%;
}

.left {
	margin: 0 5% 0 20%;
}

.right {
	margin: 0 20% 0 5%;
}

.column h3 {
	color: #555658;
	font-size: 0.9rem;
	font-weight: lighter;
	border-bottom: 1px solid #555658;
	padding-bottom: 16px;
}

.column p {
	color: #fff;
	font-weight: lighter;
}

.caption {
	color: #555658 !important;
	font-style: italic;
}

footer {
	width: 80%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: auto;
	border-top: 1px solid #555658;
}

footer p {
	text-align: center;
	font-weight: lighter;
	font-size: 0.9rem;
	color: #555658;
}

/* Phones */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
	and (hover: none) {

		html {
			font-size: calc(16px + 6 * ((100vw - 320px) / 680));
		}

		/* RESPONSIVE MENU */
		.menu ul li a:not(:first-child) {display: none;}
		.menu a.icon {
			float: right;
			display: block;
		}

		.menu.responsive {position: relative;}
		.menu.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
		}

		.menu.responsive a {
			float: none;
			display: block;
			text-align: left;
		}

		.swiper-button-next, .swiper-button-prev {
			display: none !important;
		}

		.swiper-wrapper:hover .swiper-slide:not(:hover) {
			opacity: 1;
		}

		.description {
			opacity: 1;
			transform: translateY(0);
		}

		.project-content {
			display: flex;
			flex-direction: column;
			align-items:center;
		}

		.work {
			width: 100vw;
		}

		.work li {
			padding: 3px 0;
		}

		.project-description {
			position: relative;
			float: none;
			width: 80vw;
			margin-left: 20%;
		}

		.button {
			display: none;
		}

		.about {
			margin: auto 10%;
			height: 400px;
		}

		.bg {
			background: none;
			height: auto;
		}

		.banner h1 {
			font-size: 3rem;
		}

		.banner h2 {
			font-size: 2rem;
		}

		.banner h1::before, .banner h2::before {
			height: 10px;
		}

		.button-cv {
			margin: 0 auto;
		}

		.main-columns {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			padding: 60px 0;
		}

		.column {
			width: 80%;
		}

		.left {
			margin: 0;
		}

		.right {
			margin: 0;
		}

		.bass-columns {
			height: auto;
			margin: 60px auto;
			flex-direction: column;
		}

		.caption {
			font-size: 0.8rem;
		}

		.hypertext::after {
			background: #FF0034;
		}

}
